body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    padding: 30px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

h1 {
    color: #333;
}